/***************************
 napari custom colors
***************************/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

html {
    --napari-primary-blue: #80d1ff;
    --napari-deep-blue: #009bf2;
    --napari-light-blue: #d2efff;
    --napari-dark-gray: #686868;
    --napari-gray: #f7f7f7;
    --napari-color-text-base: black;
    --pst-font-family-base: "Barlow", var(--pst-font-family-base-system);
    --pst-font-family-heading: "Barlow", var(--pst-font-family-base-system);
    --pst-font-family-monospace: "JetBrains Mono", var(--pst-font-family-monospace-system);
    --pst-font-size-base: 16px;
    --pst-color-headerlink: var(--napari-dark-gray);
    --pst-color-headerlink-hover: var(--napari-deep-blue);
    --pst-color-inline-code: 0, 155, 242;
}

body {
    margin: 0;
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: left;
    background-color: #fff;
    color: var(--napari-color-text-base);
}

p {
    color: var(--napari-color-text-base);
}
p,
.line-block .line {
    line-height: 1.5;
    font-size: 1.0625rem;
}

h1 {
    font-size: 2.1875rem;
    line-height: 125%;
    font-weight: bolder;
}

/***************************
 napari footer
***************************/

.napari-footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0 0 0);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
@media (min-width: 495px) {
    .napari-footer {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.napari-footer {
    margin-top: 75px;
}

.napari-footer .footer-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.napari-footer .footer-item--with-napari-copyright {
    width: 100%;
    justify-content: flex-end;
}

@media (min-width: 780px) {
    .napari-footer .footer-item--with-napari-copyright {
        width: max-content;
    }

    .napari-footer .footer-item--with-napari-copyright {
        justify-content: flex-start;
    }
}

.napari-footer p {
    color: #fff !important;
}

.napari-footer a {
    color: rgb(255 255 255);
}

.napari-footer a:hover {
    color: rgb(210 239 255);
}

.napari-footer a {
    white-space: nowrap;
    text-decoration-line: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.napari-footer a:last-child {
    margin-right: 0px;
}

.napari-footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.napari-footer a>svg {
    margin-right: 0.25rem;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.napari-footer a>span {
    font-weight: 600;
    font-size: 0.5625rem;
}

@media (min-width: 495px) {
    .napari-footer a>span {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.napari-footer .napari-copyright {
    display: flex;
    flex-direction: column;
    color: rgb(255 255 255);
}

.napari-footer .napari-copyright,
.napari-footer .napari-copyright .copyright {
    font-weight: 600;
    font-size: 0.5625rem;
}

@media (min-width: 495px) {

    .napari-footer .napari-copyright,
    .napari-footer .napari-copyright .copyright {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.napari-footer .napari-copyright .sphinx-link,
.napari-footer .napari-copyright .sphinx-version {
    display: flex;
}

.napari-footer .napari-copyright .sphinx-link> :not([hidden])~ :not([hidden]) {
    margin-right: calc(0.25rem);
    margin-left: calc(0.25rem);
}

.napari-footer .napari-copyright .sphinx-version {
    justify-content: space-between;
}

.napari-footer .footer-icon__hover-blue .footer-icon__light-blue {
    display: none;
}

.napari-footer .footer-icon__hover-blue:hover .footer-icon__regular {
    display: none;
}

.napari-footer .footer-icon__hover-blue:hover .footer-icon__light-blue {
    display: block;
}

/****************************
 Nav bar section
*****************************/
.navbar {
    background-color: var(--napari-primary-blue) !important;
    height: 64px;
    box-shadow: none;
}

.bd-header .navbar-nav li a.nav-link {
    font-weight: bold;
}

.navbar-brand {
    vertical-align: middle;
    font-size: 1.25rem;
    color: rgba(0, 0, 0);
    position: relative;
    font-weight: bolder;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
    color: rgba(0, 0, 0);
}

.navbar .navbar-brand p.title {
    font-size: 1rem;
    line-height: 125%;
}

.navbar .nav-item a {
    text-decoration-line: none;
    color: #000 !important;
    font-size: 1.0625rem;
    padding: 22px 1.0625rem 10px !important;
    border-bottom: .1875rem solid transparent;
    font-weight: 500 !important;
}

.navbar .nav-item.active a {
    font-weight: 700 !important;
}
.navbar .nav-item.active a,
.navbar .nav-item:hover a {
    border-bottom: .1875rem solid #000;
}
.navbar .nav-item a>i {
    margin-left: 0.5rem;
    font-size: 0.875rem !important;
}

.col-lg-9.navbar-header-items {
    max-width: 75%;
}

/***************************
 version switcher
***************************/

button.btn.version-switcher__button {
    padding-top: 15px;
    font-size: 0.875rem;
    font-weight: 600;
    border-style: none;
}
/*
#version_switcher .version-switcher-chevron {
    margin-left: 0.625rem;
}

#version_switcher.show .version-switcher-chevron {
    transform: rotate(180deg);
}
*/